<h1 style="text-align:center"> University of You </h1>
<h3 style="text-align:center"> Admin </h3>
<p style="text-align:center"> This is the admin page. You can create new equipment, new users to rent out equipment, and view orders for rentals. <p>



<h1> Equipment</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th> Student </th>
    <th> Edit Equipment </th>
    <th> Destroy Equipment </th>
  </tr>
 
  <% @equipment.each do |equipment| %>
    <tr>
      <td><%= equipment.name %></td>
      <td><%= equipment.category %></td>
      <td><%= equipment.student %></td>
      <td><%= link_to 'Edit', edit_equipment_path(equipment) %></td>
    <td><%= link_to 'Destroy', equipment_path(equipment),
              method: :delete,
              data: { confirm: 'Are you sure?' }
              %>
            </td>

    </tr>
  <% end %>
</table>
<hr>
<%= link_to "Add New Equipment", new_equipment_path %>


<h1> Students </h1>
<table class="table">
  <tr>
    <th> Student Name </th>
    <th> Email </th>
    <th> Phone Number </th>
  </tr>


<% @students = Student.all %>
<% @students.each do |student| %>
<tr>
<td><%= student.name %></td>
<td><%= student.email %></td>
<td><%= student.phone %></td>

</tr>
<% end %>
</table>


<%= link_to "Create New Student", new_student_path %>

<br>
<h1> Employees </h1>

<table class="table">
<% @users = User.all %>
<tr>
<% @users.each do |user| %>
<td><%= user.email %></td>
</tr>
<% end %>
</table>


<hr>

<h1> Orders </h1>
<table class="table">
  <tr>
    <th> Equipment Name </th>
    <th> Equipment Category </th>
    <th> Student Renter </th>
    <th> Order Time </th>
  </tr>

  <tr>
<% @orders = Order.all %>
<% @orders.each do |orders| %>
<td><%= orders.name %></td>
<td><%= orders.category %></td>
<td><%= orders.student %></td>
<td><%= orders.created_at %></td>
</tr>

<% end %>
</table>




