<!DOCTYPE html>
<html>

<body>

<h1 style="text-align:center"> University of You </h1>
<h2 style="text-align:center"> Rental Equipment System </h2>


<h3> Equipment </h3>

<table class="table-bordered table table-hover">
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th> Student </th>
    <th>Check In/Check Out </th>
  </tr>
 
  <% @equipment.each do |equipment| %>
    <tr>
      <td><%= equipment.name %></td>
      <td><%= equipment.category %></td>
      <td><%= equipment.student %></td>
      <td><%= link_to 'Check Out', edit_equipment_path(equipment) %></td>
    

    </tr>
  <% end %>
</table>

<%= link_to "Admin Page", welcome_admin_path %>

</body>
</html>