<h1> Alexander & Company Labs </h1>
<h2> Rental Equipment System </h2>


<h3> Equipment </h3>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th> Student </th>
    <th>Check In/Check Out </th>
  </tr>
 
  <% @equipment.each do |equipment| %>
    <tr>
      <td><%= equipment.name %></td>
      <td><%= equipment.category %></td>
      <td><%= equipment.student %></td>
      <td><%= link_to 'Check Out', edit_equipment_path(equipment) %></td>
    

    </tr>
  <% end %>
</table>

<%= link_to "Admin Page", welcome_admin_path %>